$color-black: #30302f;
$color-white: #ffffff;
$color-whiteTransparent: rgba(255, 255, 255, 0.5);
$color-greyLight: #ebebeb;
$color-greyMedium: #dfdfdf;
$color-greyDark: #939393;
$color-greyShadow: rgba(186, 186, 186, 0.41);
$color-greenFalabella: #b3da53;
$color-blueBG: #0da1e8;
$color-greenBG: #4ad8b8;
