@font-face {
  font-family: "brandon_grotesquebold";
  src: url("~@//assets/fonts/brandon/bold/brandon_bld-webfont.woff2") format("woff2"), url("~@//assets/fonts/brandon/bold/brandon_bld-webfont.woff") format("woff"), url("~@//assets/fonts/brandon/bold/brandon_bld-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_grotesquemedium";
  src: url("~@//assets/fonts/brandon/medium/brandon_med-webfont.woff2") format("woff2"), url("~@//assets/fonts/brandon/medium/brandon_med-webfont.woff") format("woff"), url("~@//assets/fonts/brandon/medium/brandon_med-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "brandon_grotesque_regularRg";
  src: url("~@//assets/fonts/brandon/regular/brandon_reg-webfont.woff2") format("woff2"), url("~@//assets/fonts/brandon/regular/brandon_reg-webfont.woff") format("woff"), url("~@//assets/fonts/brandon/regular/brandon_reg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldbold";
  src: url("~@//assets/fonts/oswald/bold/oswald-bold-webfont.woff2") format("woff2"), url("~@//assets/fonts/oswald/bold/oswald-bold-webfont.woff") format("woff"), url("~@//assets/fonts/oswald/bold/oswald-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswaldmedium";
  src: url("~@//assets/fonts/oswald/medium/oswald-medium-webfont.woff2") format("woff2"), url("~@//assets/fonts/oswald/medium/oswald-medium-webfont.woff") format("woff"), url("~@//assets/fonts/oswald/medium/oswald-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oswald_regularregular";
  src: url("~@//assets/fonts/oswald/regular/oswald-regular-webfont.woff2") format("woff2"), url("~@//assets/fonts/oswald/regular/oswald-regular-webfont.woff") format("woff"), url("~@//assets/fonts/oswald/regular/oswald-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
