<template>
  <div class="brandComp">
    <div class="brandComp_wrapper">
      <h1 class="brandComp_wrapper_headline">Your size by brand</h1>
      <ul class="brandComp_wrapper_brandList">
        <li class="brandComp_wrapper_brandList_item" v-for="item in brands" :key="item.id">
          <div
            class="brandComp_wrapper_brandList_item_logo"
            v-html="require('!html-loader!@/assets/svgs/logos/'+ item.name+'.svg')"
          ></div>
          <h3 class="brandComp_wrapper_brandList_item_size">{{item.chile}}</h3>
          <p class="brandComp_wrapper_brandList_item_country">chile</p>
          <ul>
            <li class="brandComp_wrapper_brandList_item_us">
              <p>us</p>
              <div class="divider"></div>
              <p>{{item.us}}</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "brandComp",
  data() {
    return {
      //default brand
      brands: [
        {
          name: "falabella",
          chile: 0,
          us: 0
        }
      ]
    };
  },
  mounted() {
    this.$root.$on("updateBrands", _brands => {
      this.updateBrands(_brands);
    });
  },
  methods: {
    updateBrands: function(_brands) {
      this.brands = _brands;
    }
  }
};
</script>

<style scoped lang="scss">
@import "@/assets/scss/_colors.scss";

.brandComp {
  width: 100%;
  height: auto;
  text-align: center;
  background: $color-greyLight;
  position: relative;
  &_wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    &_headline {
      padding-top: 60px;
      text-transform: uppercase;
      color: $color-black;
    }
    &_brandList {
      display: flex;
      justify-content: center;
      width: auto;
      flex-wrap: wrap;
      overflow-x: auto;
      max-width: 1060px;
      margin: 60px auto 45px auto;
      &_item {
        width: 180px;
        height: 240px;
        border-radius: 10px;
        box-shadow: 0px 10px 13px 0 $color-greyShadow;
        background-color: #ffffff;
        flex: 0 0 auto;
        margin: 0 30px 30px 0;

        &_logo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $color-black;
          width: 50px;
          height: 36px;
          margin: 0 auto;
          margin-top: 20px;
        }
        &_size {
          margin-top: 35px;
        }
        &_country {
          text-transform: uppercase;
          color: $color-black;
          letter-spacing: 7.41px;
          margin-top: 10px;
        }
        &_us {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-top: 35px;

          p {
            color: $color-black;
            text-transform: uppercase;
            font-family: "oswald_regularregular";
          }
        }
      }
    }
  }
}

.divider {
  width: 20px;
  height: 2px;
  margin: 0 6px 0 6px;
  background: gray;
}

@media only screen and (max-width: 768px) {
  .brandComp_wrapper {
    width: 100%;

    &_headline {
      padding-top: 30px;
    }
    &_brandList {
      flex-wrap: nowrap;
      margin-top: 30px;
      margin-bottom: 35px;
      &_item {
        width: 140px;
        height: 200px;
        margin: auto auto auto 15px;
        overflow-x: auto;
      }
    }
  }
}
</style>
