<template>
  <div class="footerComp">
    <div class="footerComp_bar"></div>

    <ul class="footerComp_list">
      <li class="footerComp_list_item">
        <p class="footerComp_list_item_copy">TODO LOS DEREchos reservadcos</p>
      </li>

      <li class="footerComp_list_item">
        <p
          class="footerComp_list_item_copy"
        >Falabella Retail S. A. Manuel Rodrí guez 730, Santiago de Chile.s</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "footerComp"
};
</script>

<style scoped lang="scss">
@import "@/assets/scss/_colors.scss";

.footerComp {
  width: 100%;
  height: 90px;
  background: $color-black;
  position: relative;
  &_bar {
    width: 100%;
    height: 6px;
    background: $color-greenFalabella;
  }

  &_list {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    &_item {
      justify-content: space-evenly;
      float: left;
      &:nth-child(1) {
        width: calc(40% - 30px);
        p {
          color: $color-greyMedium;
          text-align: left;
          text-transform: uppercase;
        }
      }
      &:nth-child(2) {
        width: calc(60% - 30px);
        p {
          color: $color-greyMedium;
          text-align: right;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .footerComp_list {
    flex-direction: column;
    &_item {
      width: 90% !important;
      p {
        text-align: center !important;
      }
    }
  }
}
</style>
