<template>
  <div class="fuckYouComp">
    <div class="fuckYouComp_logo" v-html="require('!html-loader!@/assets/svgs/logo.svg')"></div>

    <div class="fuckYouComp_wrapper">
      <h1 class="fuckYouComp_wrapper_headline">error inesperado</h1>
      <div class="fuckYouComp_wrapper_divider"></div>
      <p class="fuckYouComp_wrapper_copy">
        Hemos encontrado un error en el escaneo de códigos QR.
        <br />Vuelva a intentarlo en unos segundos o vuelva a la página de inicio de Falabella.
      </p>

      <div class="fuckYouComp_wrapper_button" @click="fuckYouFuckFuck">
        <p class="fuckYouComp_wrapper_button_copy">Volver a la página de Falabella</p>
      </div>
    </div>

    <div ref="al" v-show="reroute" class="fuckYouComp_vid_wrapper">
      <ul>
        <li
          ref="cheers"
          class="fuckYouComp_vid_wrapper_cheers"
          v-for="item in cheers"
          :key="item.id"
        >12</li>
      </ul>
      <video class="fuckYouComp_vid_wrapper_vid" autoplay loop muted playsinline>
        <source :src="vid" type="video/mp4" />
      </video>
    </div>

    <FooterComp class="fuckYouComp_footer" />
  </div>
</template>

<script>
import FooterComp from "./FooterComp.vue";
import regexMP4 from "@/assets/regex/al.mp4";

export default {
  name: "fuckYouComp",
  components: {
    FooterComp
  },
  data() {
    return {
      reroute: false,
      vid: regexMP4,
      cheers: 50,
      shoutout: ["yeahaaaw", "amk", "#fuckDavid", "bääm"],
      fontStyle: ["brandon_grotesquebold", "oswaldbold"]
    };
  },
  mounted() {
    for (let i = 0; i < this.$refs.cheers.length; i++) {
      const element = this.$refs.cheers[i];
      element.style.left = Math.random() * 150 + "%";
      element.style.top = Math.random() * 150 + "%";

      element.style.color =
        "#" + Math.floor(Math.random() * 16777215).toString(16) + "";

      element.style.borderTopColor =
        "#" + Math.floor(Math.random() * 16777215).toString(16) + "";
      element.style.opacity = Math.random();
      element.style.borderBottomColor =
        "#" + Math.floor(Math.random() * 16777215).toString(16) + "";

      element.style.borderLeftColor =
        "#" + Math.floor(Math.random() * 16777215).toString(16) + "";

      element.style.borderRightColor =
        "#" + Math.floor(Math.random() * 16777215).toString(16) + "";

      element.style.opacity = Math.random();
      element.style.fontSize =
        Math.floor(Math.random() * (120 - 30 + 1)) + 20 + "px";
      element.style.fontSize = this.fontStyle[
        Math.floor(Math.random() * (this.fontStyle.length - 0 + 1)) + 0
      ];
      element.innerHTML = this.shoutout[
        Math.floor(Math.random() * (this.shoutout.length - 1 - 0 + 1)) + 0
      ];
    }
  },
  methods: {
    fuckYouFuckFuck() {
      this.reroute = true;
      setInterval(() => {
        this.$refs.al.style.background =
          "#" + Math.floor(Math.random() * 16777215).toString(16) + "";
      }, 25);
      setTimeout(() => {
        window.location.href = "https://www.falabella.com/falabella-cl/";
      }, 6000);
    }
  }
};
</script>

<style scoped lang="scss">
@import "@/assets/scss/_colors.scss";

.fuckYouComp {
  width: 100%;
  height: calc(100% - 90px);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, $color-blueBG, $color-greenBG);
  &_logo {
    fill: $color-white;
    width: 100px;
    height: 34px;
    margin: 0 auto;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  &_wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;

    &_headline {
      text-transform: uppercase;
    }
    &_divider {
      width: 100px;
      height: 2px;
      color: $color-whiteTransparent;
    }
    &_copy {
      margin-top: 15px;
      color: $color-white;
      max-width: 480px;
    }
    &_button {
      margin-top: 15px;
      background: $color-black;
      width: 280px;
      height: 40px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &_copy {
        color: $color-greenFalabella;
        text-transform: uppercase;
        font-family: "oswaldbold";
      }
    }
  }

  &_vid_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 2;
    &_cheers {
      position: absolute;
      width: auto;
      perspective: 200px;
      transform-style: preserve-3d;
      animation: mover 7s;
      border-radius: 100px;
      border: 6px solid;
    }
    &_vid {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      animation: dad 2s;
    }
  }

  &_footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
@keyframes mover {
  from {
    transform: translateY(100%) translateX(-100%) rotateZ(-45deg);
  }

  to {
    transform: translateY(-400%) translateX(100%) rotateZ(-45deg);
  }
}

@keyframes dad {
  from {
    transform: rotateZ(45deg) scale(0.25) translateY(-50%);
  }

  to {
    transform: rotateZ(360deg) scale(1) translateY(-50%);
  }
}

@media only screen and (max-width: 768px) {
  .fuckYouComp {
    text-align: center;
    &_wrapper {
      left: 0;
      right: 0;
      margin: 0 auto;
      &_button {
        margin: 15px auto 0 auto;
      }
    }
  }
}
</style>

