<template>
  <div class="headerComp">
    <div class="headerComp_wrapper">
      <div class="headerComp_wrapper_logo" v-html="require('!html-loader!@/assets/svgs/logo.svg')"></div>
      <h1 class="headerComp_wrapper_headline">Footscanner</h1>

      <ul class="headerComp_wrapper_humanList">
        <li ref="child" class="headerComp_wrapper_humanList_item" @click="onHumanType('child')">
          <p>child</p>
        </li>
        <li ref="man" class="headerComp_wrapper_humanList_item" @click="onHumanType('man')">
          <p>man</p>
        </li>
        <li ref="woman" class="headerComp_wrapper_humanList_item" @click="onHumanType('woman')">
          <p>woman</p>
        </li>
      </ul>
      <div class="headerComp_wrapper_feetStats">
        <ul class="headerComp_wrapper_feetStats_finalResult">
          <li>
            <h2 class="bigCopy">{{averageSizeChile}}</h2>
          </li>
          <li class="headerComp_wrapper_feetStats_finalResult_us">
            <h3 class="usCopy">us</h3>
            <div class="divider"></div>
            <h3 class="usCopy">{{averageSizeUs}}</h3>
          </li>
        </ul>

        <ul class="headerComp_wrapper_feetStats_singleResult mod-leftFeet" v-if="leftFootSize">
          <li>
            <h4>{{leftFootSize}}</h4>
            <h4 class="superscript" v-if="leftFootSizeHasHalf">1/2</h4>
            <div class="divider mod-whiteColor mod-left"></div>
          </li>
          <li class="headerComp_wrapper_feetStats_singleResult_copy">
            <p>Left foot</p>
          </li>
        </ul>

        <ul class="headerComp_wrapper_feetStats_singleResult mod-rightFeet" v-if="rightFootSize">
          <li>
            <div class="divider mod-whiteColor mod-right"></div>
            <h4>{{rightFootSize}}</h4>
            <h4 class="superscript" v-if="rightFootSizeHasHalf">1/2</h4>
          </li>
          <li class="headerComp_wrapper_feetStats_singleResult_copy">
            <p>Right foot</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "HeaderComp",
  props: {
    urlParams: {
      type: Object
    }
  },
  data() {
    return {
      leftFootSizeHasHalf: !Number.isInteger(
        parseFloat(new String(this.urlParams.left))
      ),
      rightFootSizeHasHalf: !Number.isInteger(
        parseFloat(new String(this.urlParams.right))
      ),
      type: this.urlParams.type,
      length: this.urlParams.length,
      leftFootSize: Math.floor(this.urlParams.left),
      rightFootSize: Math.floor(this.urlParams.right),
      averageSizeChile: null,
      averageSizeUs: null,
      baseUrl: process.env.VUE_APP_BASE_URL,
      data: null
    };
  },
  created() {
    axios.get(this.baseUrl + "/staticAssets/data.json").then(response => {
      this.data = response.data;
      this.setInitialActiveHumanType();
    });
  },
  methods: {
    setInitialActiveHumanType() {
      switch (this.type) {
        case "child":
          this.$refs.child.classList.add("mod-active");
          this.updateSizes("child");
          break;
        case "man":
          this.$refs.man.classList.add("mod-active");
          this.updateSizes("man");
          break;
        case "woman":
          this.$refs.woman.classList.add("mod-active");
          this.updateSizes("woman");
          break;
        default:
          console.log(
            "[headerComp] setInitialActiveHumanType: error-type ",
            this.type
          );
          break;
      }
    },

    onHumanType(_type) {
      if (event.target.classList.contains("mod-active")) {
        return;
      }

      document
        .getElementsByClassName(
          "headerComp_wrapper_humanList_item mod-active"
        )[0]
        .classList.remove("mod-active");
      event.target.classList.add("mod-active");

      this.updateSizes(_type);
    },

    updateSizes(_type) {
      for (let i = 0; i < this.data[_type].length; i++) {
        if (this.data[_type][i].Length == this.length) {
          let dataEntry = this.data[_type][i];
          this.averageSizeChile = dataEntry.SizeContent.averageSize.chile;
          this.averageSizeUs = dataEntry.SizeContent.averageSize.us;
          this.brands = dataEntry.SizeContent.brands;
          this.$root.$emit("updateBrands", this.brands);
          this.$root.$emit("updateSizeBar", {
            averageSize: this.averageSizeChile,
            length: dataEntry.Length
          });
          return;
        }
      }
    }
  }
};
</script>

<style scoped lang="scss">
@import "@/assets/scss/_colors.scss";

.headerComp {
  width: 100%;
  height: 90%;
  text-align: center;
  background: linear-gradient(to right, $color-blueBG, $color-greenBG);
  position: relative;

  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, $color-blueBG, $color-greenBG);
    width: 100%;
    height: 90%;
    max-height: 600px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;

    &_logo {
      fill: $color-white;
      width: 100px;
      height: 34px;
      margin: 0 auto;
    }
    &_headline {
      margin-top: 15px;
      text-transform: uppercase;
    }
    &_humanList {
      display: flex;
      margin: 15px auto 0 auto;
      justify-content: space-between;
      width: 430px;
      &_item {
        width: 130px;
        height: 46px;
        border-radius: 10px;
        background-color: $color-whiteTransparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.35s;
        p {
          font-family: "brandon_grotesquebold";
          letter-spacing: 4px;
          color: $color-white;
          text-transform: uppercase;
          transition: color 0.35s;
          pointer-events: none;
        }
        &:hover,
        &:focus {
          background: $color-white;
          box-shadow: 0px 10px 20px 0px $color-whiteTransparent;
          p {
            color: $color-black;
          }
        }
      }
    }
    &_feetStats {
      background-image: url("~@/assets/images/feet.png");
      width: 400px;
      height: 400px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto;
      margin-top: 30px;
      position: relative;

      &_finalResult {
        display: flex;
        flex-flow: column;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto;

        &_us {
          text-transform: uppercase;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: center;
        }
      }

      &_singleResult {
        display: flex;
        flex-flow: column;
        position: absolute;
        bottom: 10%;

        li {
          display: flex;
          flex-direction: row;
          div {
            align-self: center;
          }
        }
        &_copy {
          position: relative;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.mod-active {
  background: $color-white;
  box-shadow: 0px 10px 20px 0px $color-whiteTransparent;
  p {
    color: $color-black;
  }
}

.bigCopy {
  font-size: 8em;
  color: $color-white;
}

.usCopy {
  color: $color-white;
  font-size: 2.5em;
  letter-spacing: 0.125em;
}

.divider {
  width: 20px;
  height: 2px;
  margin: 0 6px 0 0px;
  background: $color-whiteTransparent;
  &.mod-left {
    margin: 0 0 0 6px;
  }
  &.mod-right {
    margin: 0 6px 0 0;
  }
}

.superscript {
  margin: 0 0px 0 4px;
  font-size: 1.25em;
}

.mod-whiteColor {
  background: $color-white;
}

.mod-leftFeet {
  left: 0;
  .headerComp_wrapper_feetStats_singleResult_copy {
    left: -18px;
  }
}

.mod-rightFeet {
  right: 0;
  .headerComp_wrapper_feetStats_singleResult_copy {
    left: 6px;
  }
}

@media only screen and (max-width: 768px) {
  .headerComp {
    max-height: 600px;
  }

  .headerComp_wrapper {
    top: calc(50% - 15px);
    transform: translateY(-50%);

    &_headline {
      margin-top: 10px;
    }
    &_feetStats {
      width: 280px;
      height: 260px;
      margin-top: 15px;
      &_singleResult {
        bottom: -30px;
        li {
          justify-content: center;
        }
      }
    }
    &_humanList {
      margin-top: 10px;
      width: 300px;
      &_item {
        width: 90px;
        height: 36px;
      }
    }
  }

  .usCopy {
    font-size: 1.75em;
  }

  .bigCopy {
    font-size: 6em;
  }

  .superscript {
    font-size: 1em;
  }

  .mod-leftFeet {
    left: 40px;
    .headerComp_wrapper_feetStats_singleResult_copy {
      left: 0;
    }
  }

  .mod-rightFeet {
    right: 40px;
    .headerComp_wrapper_feetStats_singleResult_copy {
      left: 0;
    }
  }

  .divider {
    display: none;
  }
}
</style>

