<template>
  <div class="sizeComp">
    <div class="sizeComp_wrapper">
      <h1 class="sizeComp_wrapper_headline">Your size is</h1>

      <div class="sizeComp_wrapper_badge">
        <h2 class="sizeComp_wrapper_badge_size">{{ averageSize}}</h2>
        <p class="sizeComp_wrapper_badge_copy">Size</p>
        <div class="sizeComp_wrapper_badge_triangle" v-html="triangle"></div>
      </div>

      <ul class="sizeComp_wrapper_strokeList">
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
        <li class="sizeComp_wrapper_strokeList_item"></li>
      </ul>

      <div class="sizeComp_wrapper_bar">
        <div ref="innerBar" class="sizeComp_wrapper_bar_inner"></div>
      </div>

      <ul class="sizeComp_wrapper_sizeList">
        <li class="sizeComp_wrapper_sizeList_item">
          <h4>{{ averageSize -1 }}</h4>
        </li>
        <li class="sizeComp_wrapper_sizeList_item mod-halfSize">
          <h4>{{ averageSize -1 }}</h4>
          <h4>1/2</h4>
        </li>
        <li class="sizeComp_wrapper_sizeList_item">
          <h4>{{ averageSize}}</h4>
        </li>
        <li class="sizeComp_wrapper_sizeList_item mod-halfSize">
          <h4>{{ averageSize }}</h4>
          <h4>1/2</h4>
        </li>
        <li class="sizeComp_wrapper_sizeList_item">
          <h4>{{ averageSize + 1}}</h4>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "sizeComp",
  data() {
    return {
      triangle: require("!html-loader!@/assets/svgs/triangle.svg"),
      averageSize: null,
      length: null
    };
  },
  mounted() {
    this.$root.$on("updateSizeBar", _data => {
      this.updateSizeBar(_data);
    });
  },
  methods: {
    updateSizeBar(_data) {
      this.averageSize = _data.averageSize;
      this.length = _data.length;
      console.log(this.length);
      let int_part = Math.trunc(this.length);
      let float_part = Number((this.length - int_part).toFixed(2));
      this.setBarByFloatValue(float_part * 100);
    },
    setBarByFloatValue(_percent) {
      const value = _percent < 50 ? _percent : 50 + (_percent - 50);
      this.$refs.innerBar.style.left = "calc(" + value + "% - 56px )";
    }
  }
};
</script>
  
<style scoped lang="scss">
@import "@/assets/scss/_colors.scss";

.sizeComp {
  width: 100%;
  height: 100%;
  max-height: 600px;
  text-align: center;
  background: $color-greyMedium;
  position: relative;
  &_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;

    &_headline {
      margin-top: 30px;
      text-transform: uppercase;
      color: $color-black;
    }
    &_badge {
      display: flex;
      flex-direction: column;
      margin: 60px auto 0 auto;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 140px;
      border-radius: 10px;
      box-shadow: 0px 10px 13px 0 $color-greyShadow;
      background-color: $color-white;

      &_size {
        color: $color-black;
        letter-spacing: normal;
      }

      &_copy {
        color: $color-black;
        font-family: "brandon_grotesquebold";
        text-transform: uppercase;
        letter-spacing: 4.68px;
      }

      &_triangle {
        width: 30px;
        height: 11px;
        margin-top: 5px;
        fill: $color-greenFalabella;
      }
    }

    &_strokeList {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      margin: 30px auto 0 auto;
      width: 650px;
      &_item {
        width: 2px;
        height: 15px;
        background: $color-greyDark;
        &:first-child,
        &:nth-child(7),
        &:last-child {
          height: 25px;
          background: $color-greenFalabella;
        }
      }
    }

    &_bar {
      width: 650px;
      height: 15px;
      border-radius: 10px;
      background: #d0d0d0;
      position: relative;
      margin: 15px auto 0 auto;
      &_inner {
        width: 112px;
        height: 100%;
        border-radius: 10px;
        background: $color-greenFalabella;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &_sizeList {
      width: 650px;
      margin: 15px auto 30px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &_item {
        color: $color-black;
        h4 {
          color: $color-black;
        }
      }
    }
  }
}

.mod-halfSize {
  display: flex;
  flex-direction: row;
  h4:last-child {
    font-size: 1.25em;
    margin-left: 4px;
  }
}

@media only screen and (max-width: 768px) {
  .sizeComp {
    height: auto;
    &_wrapper {
      position: relative;
      top: auto;
      transform: none;
    }
  }

  .sizeComp_wrapper_badge {
    width: 84px;
    height: 84px;
    margin-top: 30px;
  }

  .sizeComp_wrapper_strokeList,
  .sizeComp_wrapper_bar,
  .sizeComp_wrapper_sizeList {
    width: 286px;
  }

  .sizeComp_wrapper_bar_inner {
    width: 74px;
  }
}
</style>
