<template>
  <div id="app">
    <FuckYouComp v-if="fuckYouActivated" />
    <HeaderComp :urlParams="urlParams" />
    <SizeComp />
    <BrandComp />
    <FooterComp />
  </div>
</template>

<script>
import FuckYouComp from "./components/FuckYouComp.vue";
import HeaderComp from "./components/HeaderComp.vue";
import SizeComp from "./components/SizeComp.vue";
import BrandComp from "./components/BrandComp.vue";
import FooterComp from "./components/FooterComp.vue";

export default {
  name: "app",
  data() {
    return {
      urlParams: null,
      fuckYouActivated: false
    };
  },
  components: {
    FuckYouComp,
    HeaderComp,
    SizeComp,
    BrandComp,
    FooterComp
  },
  created() {
    const getParams = function(url) {
      const params = {};
      const parser = document.createElement("a");
      parser.href = url;
      const query = parser.search.substring(1);
      const vars = query.split("&");
      for (let i = 0; i < vars.length; i++) {
        const pair = vars[i].split("=");
        params[pair[0]] = decodeURIComponent(pair[1]);
      }
      return params;
    };
    this.urlParams = getParams(window.location.href);
    ///?type=male&length=26.5&left=23&right=24
  },
  mounted() {
    this.checkForValidURLParams();
  },
  methods: {
    checkForValidURLParams() {
      for (const key in this.urlParams) {
        if (this.urlParams.hasOwnProperty(key)) {
          if (!this.urlParams[key] || this.urlParams[key] === "undefined") {
            console.log(
              "[APP] param wrong for key: ",
              key + " -> " + this.urlParams[key]
            );
            this.fuckYouActivated = true;
          }
        }
      }
    }
  }
};
</script>

<style lang="scss">
@import "normalize-scss";
@include normalize();
@import "@/assets/scss/_fonts.scss";
@import "@/assets/scss/_colors.scss";

html {
  user-select: none;
  overflow: scroll;
  -ms-overflow-style: none; // IE 10+
  overflow: -moz-scrollbars-none; // Firefox
  overflow-x: hidden;
}

body {
  font-size: 62.5%;
  background: $color-black;
  font-family: "brandon_grotesque_regularRg";
}

p,
input,
button {
  font-size: 1.75em;
  margin: 0;
  font-family: "brandon_grotesque_regularRg";
  color: $color-white;
}

h1 {
  font-size: 5em; //4.875em;
  margin: 0;
  font-weight: normal;
  font-family: "oswaldbold";
  color: $color-white;
  letter-spacing: 0.125em;
}

h2 {
  font-size: 5em; //4.875em;
  margin: 0;
  font-weight: normal;
  font-family: "oswaldbold";
  color: $color-black;
  letter-spacing: 0.125em;
}

h3 {
  font-size: 3.75em;
  margin: 0;
  font-weight: normal;
  font-family: "oswaldbold";
  color: $color-black;
}

h4 {
  font-size: 2.25em;
  margin: 0;
  font-weight: normal;
  font-family: "oswaldbold";
  color: $color-white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  font-size: 1.75em;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  display: none; // Safari and Chrome
}
// optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: none;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  //transition-timing-function: ease;
}
.fade-enter-active {
  transition-delay: 0.2s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  p,
  input,
  button {
    font-size: 1.25em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3,
  h4 {
    font-size: 1.75em;
  }
}
</style>
